body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer и Edge */
  }
  
  ::-webkit-scrollbar {
    display: none; /* WebKit (Chrome, Safari, Opera) */
  }
i{
    color:rgb(255, 255, 255)
}
header{
    position: fixed;
    margin-top: -7px;
    margin-left: -8px;
    background-color: rgba(255, 114, 118, 1);
    width: 100%;
    max-height: 10%;
    display: flex;
    text-align: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    .header-left{
        display: flex;
        gap: 50px;
        align-items: center;
    }

    .header-right{
        display: flex;
        justify-content: space-between;
        align-items: center;

        gap: 70px;
    }
    
}
.buy{
    width: 100px;
    height: 100px;
}
.logo{
    width: 100px;
    height: 100px;

}
.found{
    height: 20px;
    width: 700px;
    border-radius: 5px;
    padding-left: 10px;
    background-color: rgb(255, 206, 206);
    border: 0px;
    
}
.parent{
    width: 500px; /* Фиксированная ширина родителя */
}

.product {
    display: flex;
    flex-direction: row; /* Обязательное условие */
    align-items: flex-start; /* Выравнивание по верху */
    justify-content: space-between; /* Распределение пространства между элементами */
    padding: 10px; /* Отступ для видимых границ */
    border: 1px solid #ddd; /* Для наглядности */
    margin-bottom: 10px; /* Отступ между формами */
}


.product table {
  /* Делаем таблицы не растягиваемыми */
    flex: none; /* Не позволяет таблицам растягиваться */
    margin-right: 10px;
}

.product .description {
   flex: 1; /* Занимает оставшееся пространство */
   padding: 0 20px; /* Дополнительные отступы */
    box-sizing: border-box; /* Включает отступы в расчет ширины */

}
.product .buy{
    border-radius: 20px;
    color: white;
    font-family: cursive;
    font-size: 20px;
    background-color: rgb(17, 202, 26);    
    max-height: 40px;
    border: 0px;
}
.body{
    margin-top: 50px;
}