<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Корзина</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <div class="header-left">
            <a href="https://magazine-4pqo.onrender.com/basket?email={{email}}">
            <a href="https://magazine-4pqo.onrender.com/basket?email={{email}}">
                <img class="buy" src="/static/shop.ico">
            </a>
            <b><i><h1>КОРЗИНА</h1></i></b>
        </div>
        <div class="header-right">
            <form name = "found" method="get" action="/basket?email={{email}}">
                <table  style="margin-top: -10px;">
                    
                    <tr><td><input name="email" value = "{{email}}" type="hidden"></td></tr>
                    <tr><td><input name="searching" class="found" placeholder="поиск..." value="{{searching}}"></td></tr> 
                </table>
                <button type="submit" style="visibility:hidden; width: 0px; height: 0px;"></button>
            </form>
            <a href="https://magazine-4pqo.onrender.com/cataloge?email={{email}}">
            <a href="https://magazine-4pqo.onrender.com/cataloge?email={{email}}">
                <img class="logo" src="/static/logo.ico">
            </a>
        </div>
    </header>

    <div class="basket_parent">
        <br><br><br>
        {% for product in forms %}
        <form action="/basket?email={{email}}" name="place" class="basket" method="post">
            <table>
                <tr>
                    <td><h3>{{ product.name }}</h3></td>
                </tr>
                <tr>
                    <td><h5>Цена: {{ product.cost }} рублей</h5></td>
                </tr>
            </table>
            <p name = "description"class = "description" >{{ product.description }}</p>
            <table>
                <tr>
                    <td class="amounter">
                        <input type="hidden" name="action" value="">
                        <h3>
                            <input class="minus" type="button" name="bminus" onclick="minus( {{product.id}} )" value = "-">
                        </h3>
                        <input id = "how{{ product.id }}" class = "basker_N" value = "1" name = "how">
                        <h3>
                            <input class="plus"  type="button" name="bplus" onclick="plus( {{product.id}} )" value = "+">
                        </h3>
                    </td>
                </tr>
                <tr>
                    <td><h5>В наличии: {{ product.amount }}</h5></td>
                </tr>
            </table>
        </form>
        <script>
            let N{{product.id}} = 1;
        </script>
        {% endfor %}
        <script>
            function minus(id){
                let inputId = "how"+id;
                let value = document.getElementById(inputId).value;
                if(value == NaN){ value = 1};
                if(value > 1)
                {
                    document.getElementById(inputId).value = value - 1;
                }
            }
            function plus(id){
                let inputId = "how"+id;
                let value = document.getElementById(inputId).value;
                if(value == NaN){ value = 1};
                document.getElementById(inputId).value = Number(value) + 1;

            }
        </script>
    </div>
</body>
</html>
