<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creating</title>
</head>
<body>
    <form action = "/admin/add" name = "create "class = "product" method="post" style = " gap:10px;">
        <center>
            <h1>Создание товаров</h1><br>
            <input name = "name" placeholder="Введите название"><br>
            <input name = "description" placeholder="Введите описание"><br>
            <input name = "amount" placeholder="Введите количество"><br>
            <input name = "cost" placeholder="Введите цену"><br>
            <button type = "submit" name = "create" value = "ID">создать</button>
            <!--тут надо сделать чтобы была цена (cost) и количество(amount)-->
        </center>
    </form>
</body>
</html>