<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creating</title>
</head>
<body>
    <form action = "/" name = "place "class = "product" method="post">
        <center><h1>Создание товаров</h1></center>
        <input name = "name" placeholder="Введите название">
        <input name = "description" placeholder="Введите описание">
        <input name = "amount" placeholder="Введите количество">
        <input name = "cost" placeholder="Введите цену">
        <button type = "submit" name = "buy_button" value = "ID">купить</button>
        <!--тут надо сделать чтобы была цена (cost) и количество(amount)-->
    </form>
</body>
</html>