<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Каталог</title>
    <link rel="stylesheet" href="/static/style.css">
    
</head>
    
    <header>
       <div class="header-left">
            <a href = "http://{{my_host}}:8000/"><img class = "logo" src="/static/logo.ico" ></a>
            <b><i><h1>МАГАЗИН</h1></i></b>
       </div>
       <div class="header-right">
            <input name="found" id="found" class="found" placeholder="поиск...">
            <a href = "http://{{my_host}}:8000/basket/?user_id={{user_id}}"><img class = "buy"src="/static/shop.ico"></a>
       </div>
    </header>
    <div class = "body">
        {% for id in range(all) %}
            <form action = "/" name = "place "class = "product" method="post">
                <h3>{{names[id]}}</h3>
            
                <text name = "description"class = "description" > {{descriptions[id]}}</text>
                <button type = "submit" name = "buy_form" value = "{{id+1}}">купить</button>
                <!--тут надо сделать чтобы была цена (cost) и количество(amount)-->
            </form>
        {% endfor %}
    </div>
</body>
</html>