<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Каталог</title>
    <link rel="stylesheet" href="/static/style.css">
    
</head>
<body>
    <header>
        <img class = "logo"src="/static/shop.ico">
        <input name="found" id="found" class="found" placeholder="поиск...">
        <a href = "https:\\youtube.com\"class = "buy"><img src="/static/logo.ico" ></a>
    </header>
    <body>
        <form>
            <h3>ТОВАР</h3>
            <text>ВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВВ</text>
            <button type = "submit">купить</button>
        </form>
    </body>
</body>
</html>