<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Каталог</title>
    <link rel="stylesheet" href="/static/style.css">
    
</head>

    <header>
       <div class="header-left">
            <a href = "сюда сылку на главную страницу"><img class = "logo" src="/static/logo.ico" ></a>
            <b><i><h1>МАГАЗИН</h1></i></b>
       </div>
       <div class="header-right">
            <input name="found" id="found" class="found" placeholder="поиск...">
            <a href = "сюда корзину"><img class = "buy"src="/static/shop.ico"></a>
       </div>
    </header>
    <div class = "body">
        <form class = "product">
            <h3>ТОВАР</h3>
            
            <text class = "description">ВВВВВВВВВВ ВВВВВВВВВВВВВВ ВВВВВВВВВВВВВ ВВВВВВВВВВВВВВ ВВВВВВВВВВВВВВ ВВВВВВВВВ ВВВВВ ВВВВВВВ ВВВВ</text>
            <button type = "submit">купить</button>
        </form>
        <form class = "product">
            <h3>ТОВАР</h3>
            
            <text class = "description">ВВВВВВВВВВ ВВВВВВВВВВВВВВ ВВВВВВВВВВВВВ ВВВВВВВВВВВВВВ ВВВВВВВВВВВВВВ ВВВВВВВВВ ВВВВВ ВВВВВВВ ВВВВ</text>
            <button type = "submit">купить</button>
        </form>
    </div>
</body>
</html>