<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    <link rel="stylesheet" href="/static/style_logreg.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/static/logo.ico">
</head>
<body>
    <div class="container">
        <h1>Регистрация</h1>
        <form class="form_reg" action="https://magazine-4pqo.onrender.com/register" method="post">
            <label for="username">Имя:</label>
            <input type="text" name="username" minlength="4">
             <label for="email">Почта:</label>
             <input type="email" name="email" minlength="1">
              <label for="password">Пароль:</label>
             <input type="password" name="password" minlength="4">
            <label for="rep_password">Повторите пароль:</label>
            <input type="password" name="rep_password" minlength="4">
            <button type="submit">Создать аккаунт</button>
            <a href="https://magazine-4pqo.onrender.com/">Вход</a>
        </form>
    
     </div>
</body>
</html>